.bg-dark {
    background-color: #1631D6 !important;
}
.navbar-dark .navbar-nav .nav-link {
}
.navbar-dark .navbar-nav .nav-link {
}
.navbar-nav .nav-item {
    background-image: -webkit-linear-gradient(270deg,rgba(17,28,186,1.00) 0%,rgba(191,117,201,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(17,28,186,1.00) 0%,rgba(191,117,201,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(17,28,186,1.00) 0%,rgba(191,117,201,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(17,28,186,1.00) 0%,rgba(191,117,201,1.00) 100%);
    text-align: left;
}
header {
    height: 250px;
    background-color: #ff00ff;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("Folder%201/City.jpg") !important;
    background-size: 100% auto;
    font-style: oblique;
    font-variant: small-caps;
    text-decoration: overline;
    text-shadow: 0px 3px #C4BFC5;
    font-size: 200px;
    color: #BD49C0;
    font-weight: 200;
}
header p {
    line-height: 50px;
}
nav .container {
    padding-bottom: 10px;
    border-bottom: 2px solid #FF3;
    text-decoration: underline;
    font-variant: small-caps;
    text-shadow: 0px 0px #7A7A7A;
    color: #0C0DBF;
    font-style: oblique;
}
body {
    border-right: 15px solid #121FD9;
    border-left: 15px solid #382CD3;
    background-color: #C72DD5;
}
footer {
    padding-top: 5px;
    color: #069;
    background-color: #E355EE;
}
address {
    color: #FFFD03;
}
